*{margin: 0; padding: 0;}

.khoittnho p {
    padding-top: 15px;
}

.col-sm-12.tieudeto.text-sm-center {
    padding-bottom: 20px;
}

.container.gacon {
    padding-top: 70px;
}



.khoittnho h3 {
    color: red;
    font-size: 23px;
}

.edu h2 span {
    color: black;
}

.edu h2 {
    color: gray;
}

a.nuthire.btn.btn-primary {
    background: black;
    font-size: 20px;
    width: 200px;
}

.tt h2 {
    color: white;
    font-size: 49px;
}

.tt img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 200px;
    font-size: 20px;
    font-weight: 300;
}

.khoitt1:before {content: "";position: absolute;top: 0;left: 0;height: 100%;width: 50%;background: #e4555b;z-index: 1;}

body,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
    position: relative;
}

a.nav-link {
    padding-right: 22px !important;
}

.menutop {
    background: lightblue;
} 

li.nav-item a {
    color: black;
    font-size: 20px;
}

a.navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

a.navbar-brand span {
    color: red;
} 




@media (max-width: 576px) {
	*{}




.menutop {
    background: lightyellow;
}


.tt {
    padding-top: 100px;
}



li.nav-item a {
    font-size: 13px;
    color: gray;
    font-weight: 700;
}

ul.navbar-nav {
    display: inline;
}

li.nav-item {
    display: inline-block;
}

a.navbar-brand {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
}