*{margin: 0; padding: 0;}

.khoitt1:before {content: "";position: absolute;top: 0;left: 0;height: 100%;width: 50%;background: #e4555b;}

body,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
    position: relative;
}

a.nav-link {
    padding-right: 22px !important;
}

.menutop {
    background: lightblue;
} 

li.nav-item a {
    color: black;
    font-size: 20px;
}

a.navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

a.navbar-brand span {
    color: red;
} 




@media (max-width: 576px) {
	*{}



li.nav-item a {
    font-size: 13px;
    color: gray;
    font-weight: 700;
}

ul.navbar-nav {
    display: inline;
}

li.nav-item {
    display: inline-block;
}

a.navbar-brand {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
}